
a {
    text-decoration: none;
    color: #fff;
}
body{margin: 0px;}
.trashcat-ss>a{
    text-decoration: none;
    color: black;
}
.lilcat>a{
    text-decoration: none;
    color: black;
}
.header-font span a :hover {
    color: #F15BB5;
    opacity: 90%;
}
@media (min-width: 1024px) {
    .only-for-desktop {
        display: block;
    }

    .only-for-tablet {
        display: none;
    }

    .only-for-phone {
        display: none;
    }

    .header {
        background-color: #27c9ff;
        height: 97px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-font {
        font-family: 'Noto Serif TC';
        font-size: 32px;
        line-height: 46px;
        font-weight: 900;
        color: #ffffff;
        margin-right: 50px;
    }

    .cat {
        width: 290px;
        height: 74px;
        background-color: #27c9ff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat-font {
        font-family: 'Noto Serif TC';
        font-size: 40px;
        line-height: 58px;
        font-weight: 900;
        color: #ffffff;
    }

    .cat-r {
        width: 12px;
        height: 62px;
        background-color: #ffffff;
        display: inline-block;
    }

    .cat-b {
        width: 290px;
        height: 12px;
        background-color: #ffffff;
        margin-left: 12px;
    }

    .trashcat {
        position: absolute;
    }

    .trashcat-ss {
        position: absolute;
        color: black;
        font-size: 24px;
        line-height: 34.75px;
        font-weight: 700;
        width: 442px;
        left: 385px;
        top: 10px;
    }

    .lilcat {
        font-size: 20px;
        line-height: 29px;
        position: absolute;
        left: 385px;
        bottom: 20px;
    }

    .catblock {
        width: 826px;
        height: 213px;
        position: relative;
    }

    .bottom {
        height: 166px;
        background-color: #27c9ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-font {
        color: #f1f1f1;
        font-size: 14px;
        line-height: 20px;
        margin-left: 105px;
    }

    .catphoto {
        width: 309px;
        height: 213px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .only-for-desktop {
        display: none;
    }

    .only-for-tablet {
        display: block;
    }

    .only-for-phone {
        display: none;
    }

    .header {
        background-color: #27c9ff;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-font {
        font-family: 'Noto Serif TC';
        font-size: 21px;
        line-height: 30px;
        font-weight: 900;
        color: #ffffff;
        margin-right: 30px;
    }

    .cat {
        width: 131px;
        height: 33px;
        background-color: #27c9ff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat-font {
        font-family: 'Noto Serif TC';
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;
        color: #ffffff;
    }

    .cat-r {
        width: 5px;
        height: 28px;
        background-color: #ffffff;
        display: inline-block;
    }

    .cat-b {
        width: 131px;
        height: 5px;
        background-color: #ffffff;
        margin-left: 5px;
    }

    .trashcat {
        position: absolute;
    }

    .trashcat-ss {
        position: absolute;
        color: black;
        font-size: 15px;
        line-height: 21px;
        font-weight: 700;
        width: 227px;
        left: 165px;
        top: 5px;
    }

    .lilcat {
        font-size: 10px;
        line-height: 14px;
        position: absolute;
        left: 165px;
        top: 50px;
        width: 227px;
    }

    .catblock {
        width: 392px;
        height: 143px;
        position: relative;
    }

    .bottom {
        height: 82px;
        background-color: #27c9ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-font {
        font-family: 'Noto Serif TC';
        color: #f1f1f1;
        font-size: 11px;
        line-height: 15px;
        margin-left: 105px;
    }

    .catphoto {
        width: 133px;
        height: 91px;
    }
}

@media (max-width: 767px) {
    .only-for-desktop {
        display: none;
    }

    .only-for-tablet {
        display: none;
    }

    .only-for-phone {
        display: block;
    }

    .header {
        background-color: #27c9ff;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-font {
        font-family: 'Noto Serif TC';
        font-size: 21px;
        line-height: 30px;
        font-weight: 900;
        color: #ffffff;
        margin-right: 10px;
    }

    .cat {
        width: 133px;
        height: 33px;
        background-color: #27c9ff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat-font {
        font-family: 'Noto Serif TC';
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;
        color: #ffffff;
    }

    .cat-r {
        width: 2px;
        height: 24px;
        background-color: #ffffff;
        display: inline-block;
    }

    .cat-b {
        width: 133px;
        height: 2px;
        background-color: #ffffff;
        margin-left: 2px;
    }

    .trashcat {
        position: absolute;
    }

    .trashcat-ss {
        position: absolute;
        color: black;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        width: 190px;
        left: 143px;
    }

    .lilcat {
        font-size: 10px;
        line-height: 14px;
        width: 189px;
        position: absolute;
        left: 143px;
        top: 47px;
    }

    .catblock {
        width: 303px;
        height: 132px;
        position: relative;
    }

    .bottom {
        height: 61px;
        background-color: #27c9ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-font {
        font-family: 'Noto Serif TC';
        color: #f1f1f1;
        font-size: 9px;
        line-height: 12px;
        margin-left: 26px;
    }

    .catphoto {
        width: 133px;
        height: 91px;
    }
}
